.blue-line {
    height: 50px;
    background-color: $blue;
}

#action {
    background-color: white;
    position: relative;

    .price-tag {
        background-color: #70b04c;
        padding: 15px 50px;
        color: white;
        font-weight: 300;
        margin: 30px 0;
    }

    .adv {
        color: gray;
        margin-bottom: 5px;
        text-align: end;
    }

    .split-section {
        display: flex;
        justify-content: space-between;

        .long-side {
            max-width: 65%;
            position: relative;
        }
    }

    a {
        color: black;
    }

    .carousel-arrow {
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        transition: color 0.2s;

        &:hover {
            cursor: pointer;
            color: gray;
        }

        &.fa-chevron-left {
            left: 1%;
        }

        &.fa-chevron-right {
            right: 1%;
        }
    }

    .thumb-cont {
        overflow: hidden;
        width: 160px;
        position: absolute;
        top: -315px;
        left: 20px;
        display: flex;
        justify-content: center;

        .info-ticket {
            background-color: $light-blue;
            color: white;
            height: 20px;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 10px;
            font-size: 0.7rem;
        }

        .top-ticket {
            top: 0;
            left: 0;
        }

        .bot-ticket {
            bottom: 0;
            left: 0;
            right: 0;
        }

        .thumb-image {
            height: 250px;
        }
    }
}

#comic-info {
    background-color: rgb(230, 229, 229);

    h3 {
        margin-bottom: 20px;
    }

    .split-section {
        display: flex;
        justify-content: space-between;

        .long-side {
            width: 55%;
        }

        .short-side {
            width: 40%;
        }
    }

    hr {
        margin: 10px 0;
    }

    a {
        color: rgb(0, 153, 255);
        transition: color 0.2s;

        &:hover {
            color: blue;
        }
    }
}
